// Components Animation

//Move To left
.oldSlideToLeft .slideToLeft-enter {
  -webkit-transform: translateX(calc(100% - 5px));
  transform: translateX(calc(100% - 5px));
  will-change: transform;
}
.oldSlideToLeft .slideToLeft-enter-active {
  transition: 200ms linear;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  will-change: transform;
}
.oldSlideToLeft div.slideToRight-exit {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 1;
  width: 100%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  will-change: transform;
}
.oldSlideToLeft div.slideToRight-exit-active {
  opacity: 0;
  z-index: 10;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: 200ms linear;
  will-change: transform;
}
// =============================

// Initial load Fix

.oldSlideToLeft div.slideToLeft-exit {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 1;
  width: 100%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  will-change: transform;
}
.oldSlideToLeft div.slideToLeft-exit-active {
  opacity: 0;
  z-index: 10;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: 200ms linear;
  will-change: transform;
}
// =============================

// Move to right
.oldSlideToRight .slideToRight-enter {
  -webkit-transform: translateX(calc(-100% + 5px));
  transform: translateX(calc(-100% + 5px));
  will-change: transform;
}

.oldSlideToRight .slideToRight-enter-active {
  transition: 200ms linear;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  will-change: transform;
}

.oldSlideToRight div.slideToLeft-exit {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 10;
  width: 100%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  will-change: transform;
}

.oldSlideToRight div.slideToLeft-exit-active {
  z-index: 10;
  opacity: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  will-change: transform;
  transition: 200ms linear;
}
// ========================

.App {
  height: 823px;
  width: 411px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}